<div>
    <div>
        <h3>Usuarios</h3>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Primernumero</th>
                    <th>Segundonumero</th>
                    <th>Resultado</th>
                    <th>IDusuario</th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let suma of sumas">
                    <th>{{suma.id}}</th>
                    <th>{{suma.primernumero}}</th>
                    <th>{{suma.segundonumero}}</th>
                    <th>{{suma.suma}}</th>
                    <th>{{suma.idusuario}}</th>
                    <th>{{suma.usu_creacion}}</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>
